.hidden {
    display: none;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: white;
    padding: 3rem;
    border-radius: 8px;
    z-index: 10;
    border: 3px solid $text-color;
    box-shadow: 0px 4px 0px 0px $text-color;

    @media (max-width: 968px){
      width: 90%;
      height: 90%;
    }

  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }
  
.modal-inside {
  display: flex;
  flex-direction: column;
  width: 100%;

  p {
    margin-top: 25px;
  }
}