@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap");

$heading-font: "Kanit", sans-serif;
$body-font: "Roboto", sans-serif;

$light: 300;
$normal: 400;
$semibold: 600;
$bold: 700;

$h1-size: 3rem;
$h2-size: 2rem;
$h4-size: 1.75rem;
$text-normal: 1.25rem;
$text-mini: 1rem;