.price-cont{
    width: 80%;
    margin: 50px 10%;

    .pricing {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        border-radius: 10px;
        background-color: #f3f3f3;
        margin-top: 50px;
        padding: 40px 40px;
        
        img {
            width: 60%;
            justify-self: right;
        }

        h3 {
            font-size: $h2-size;
            font-family: $heading-font;
        }

        p {
            margin-top: 40px;
            color: $text-color;
        }

        @media (max-width: 968px) {
            display: block;
            text-align: center;

            img {
                display: none;
            }
        }
    
    }
}