@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap");
button {
  font-family: "Roboto", sans-serif;
  border-radius: 8px;
  font-weight: 700;
  transition: all ease-in 200ms;
}

.contact-btn {
  padding: 8px 25px;
  border: 2px solid rgb(31, 31, 31);
  background-color: white;
}
.contact-btn:hover {
  background-color: rgb(31, 31, 31);
  color: white;
}

.offer-btn {
  background-color: rgb(31, 31, 31);
  color: white;
  border: none;
  padding: 15px 25px;
}
.offer-btn:hover {
  color: rgb(31, 31, 31);
  border: 2px solid rgb(31, 31, 31);
  background-color: white;
}

.close-modal {
  font-size: 1.25rem;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: color ease-in 200ms;
  align-self: flex-end;
}
.close-modal:hover {
  color: #6c63ff;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 10px;
  border: 3px solid rgb(31, 31, 31);
  box-shadow: 0px 4px 0px 0px rgb(31, 31, 31);
  padding: 20px 20px;
  height: 300px;
  height: 100%;
  position: relative;
}
.card img {
  width: 70%;
  justify-self: right;
  height: 200px;
}
.card h2 {
  display: inline;
  background-color: #6c63ff;
}
@media (max-width: 968px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .card h2 {
    margin-right: 20px;
  }
  .card img {
    align-self: center;
    margin: 25px 0 50px 0;
  }
}

.dark {
  background-color: rgb(31, 31, 31);
}
.dark h2 {
  background-color: white;
}
.dark .learnmore {
  color: white;
}
.dark .learnmore button {
  background-color: white;
}
.dark .learnmore button .icon {
  color: rgb(31, 31, 31);
}

.learnmore {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  bottom: 20px;
  text-decoration: none;
  color: rgb(31, 31, 31);
  font-weight: 600;
}
.learnmore button {
  margin-right: 5px;
  cursor: pointer;
  padding: 10px 10px;
  border: none;
  background-color: rgb(31, 31, 31);
  border-radius: 50%;
}
.learnmore button .icon {
  color: white;
  font-size: 1.25rem;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 3rem;
  border-radius: 8px;
  z-index: 10;
  border: 3px solid rgb(31, 31, 31);
  box-shadow: 0px 4px 0px 0px rgb(31, 31, 31);
}
@media (max-width: 968px) {
  .modal {
    width: 90%;
    height: 90%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 5;
}

.modal-inside {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal-inside p {
  margin-top: 25px;
}

.partners {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Two columns */
  gap: 10px; /* Adjust the gap between grid items as needed */
  max-width: 80%;
  margin: 20px auto; /* Adjust the margin as needed */
  align-items: center;
  justify-items: center;
}
.partners img {
  width: 40%;
  filter: invert(42%) sepia(11%) saturate(0%) hue-rotate(192deg) brightness(95%) contrast(81%);
}

.testimonial-card {
  border-radius: 10px;
  background-color: #f3f3f3;
  border: 3px solid rgb(31, 31, 31);
  box-shadow: 0px 4px 0px 0px rgb(31, 31, 31);
  text-align: center;
  height: 300px;
  margin: 0 20px;
  padding: 30px 30px;
}
.testimonial-card .testimonial-title {
  color: rgb(109, 109, 109);
}
.testimonial-card .review {
  font-size: 1rem;
  color: rgb(31, 31, 31);
  text-align: justify;
  padding-top: 15px;
}

.contact-map iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.contact {
  width: 80%;
  margin: 50px 10%;
}
.contact .contact-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
@media (max-width: 968px) {
  .contact .contact-content {
    display: flex;
    flex-direction: column;
  }
}
.contact form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  position: relative;
}
.contact form textarea.text-area {
  width: 50%;
  height: 150px;
  margin: 10px 0;
  resize: none;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  border: 2px solid rgb(31, 31, 31);
  border-radius: 10px;
  color: rgb(109, 109, 109);
}
@media (max-width: 968px) {
  .contact form textarea.text-area {
    width: 100%;
  }
}
.contact form button {
  border: 2px solid rgb(31, 31, 31);
  background-color: white;
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 10px 15px;
  color: rgb(31, 31, 31);
  width: 25%;
}
.contact form button:hover {
  background-color: rgb(31, 31, 31);
  color: white;
}
.contact form input {
  width: 50%;
  margin: 10px 0;
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  border: 2px solid rgb(31, 31, 31);
  border-radius: 10px;
  color: rgb(109, 109, 109);
}
@media (max-width: 968px) {
  .contact form input {
    width: 100%;
  }
}

.sent-component {
  width: 50%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin: 50px 10%;
}
.hero img {
  justify-self: right;
}
@media (max-width: 968px) {
  .hero {
    display: block;
    text-align: center;
  }
  .hero img {
    display: none;
  }
}

.hero-text h1 {
  font-family: "Kanit", sans-serif;
  font-size: 3rem;
  line-height: 2.5rem;
}
.hero-text h2 {
  font-size: 1.25rem;
  color: rgb(109, 109, 109);
  font-weight: 400;
  margin: 20px 0;
}

.regular-menu {
  display: flex;
  justify-content: space-between;
  margin: 30px 10%;
  align-items: center;
}
.regular-menu .brandname {
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
.regular-menu a {
  text-decoration: none;
  color: rgb(31, 31, 31);
  margin: 0px 20px;
}
.regular-menu a:hover {
  color: #6c63ff;
}

.mobile-menu {
  position: relative;
}

.hamburger-react {
  margin: 20px 20px;
}

.menu-open {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.menu-open .nav-mobile-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
}
.menu-open .nav-mobile-links a {
  padding: 10px 0;
  text-decoration: none;
  color: rgb(31, 31, 31);
}

.price-cont {
  width: 80%;
  margin: 50px 10%;
}
.price-cont .pricing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 10px;
  background-color: #f3f3f3;
  margin-top: 50px;
  padding: 40px 40px;
}
.price-cont .pricing img {
  width: 60%;
  justify-self: right;
}
.price-cont .pricing h3 {
  font-size: 2rem;
  font-family: "Kanit", sans-serif;
}
.price-cont .pricing p {
  margin-top: 40px;
  color: rgb(31, 31, 31);
}
@media (max-width: 968px) {
  .price-cont .pricing {
    display: block;
    text-align: center;
  }
  .price-cont .pricing img {
    display: none;
  }
}

.services {
  width: 80%;
  margin: 50px 10%;
}

.service-cards {
  width: 1000%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 10px; /* Adjust the gap between grid items as needed */
  max-width: 100%;
  align-items: center;
  margin: 50px 0;
}
@media (max-width: 968px) {
  .service-cards {
    display: flex;
    flex-direction: column;
  }
}

.testimonials-outer {
  width: 100%;
  background-color: #6c63ff;
  padding: 25px 0;
}
.testimonials-outer .testimonials-title {
  margin: 0 10%;
  display: inline-block;
  background-color: white;
  font-family: "Kanit", sans-serif;
}

.testimonials {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 25px 10%;
}
@media (max-width: 968px) {
  .testimonials {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 25px 0;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

.title {
  display: inline-block;
  background-color: #6c63ff;
  font-family: "Kanit", sans-serif;
}

main {
  scroll-behavior: smooth;
}

footer {
  bottom: 0;
  width: 100%;
  background-color: rgb(31, 31, 31);
  display: flex;
  justify-content: center;
}
footer p {
  padding: 20px 0;
  color: white;
}
footer p a {
  text-decoration: none;
  color: #6c63ff;
  font-weight: 700;
  transition: color ease-in 200ms;
}
footer p a:hover {
  color: white;
}